@import
url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Open+Sans:400,300,700);

// Black to White
$black:       #000000;
$border-gray: #CDCDCD;
$white:       #FFFFFF;
$red: 				#B2273A;

@mixin myButton {
	padding: 0.6em 2em;
	font-size: 16px;
	line-height: 1.5;
  color: $white;
	background-color: $black;
	border: 1px solid $black;
	border-radius: 0;
	text-shadow: none;
	box-shadow: none;

  &:hover{
    background-color: transparent;
    border: 2px solid $black;
    color: $black;
  }
}


.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: $black;
  background-color: transparent;
  border-color: $black;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
  margin:0;
	font-size: 16px;
  color: rgba($black,0.6);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: $black;
	text-transform: uppercase;
}

a {
  color: rgba($black,0.6);
}

a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

a:hover {
	color: rgba($black,0.9);
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
}

canvas {
	width: 100%;
	display:block;
	vertical-align:bottom;
}

#particles-js {
  height:100%;
	position: fixed;
}

#logo {
  width: 20%;
}

.row {
	margin-bottom: 1.5em;
}

.bio {
  margin-top: 20px;
  font-size: 2em;
  color: $black;
  &:hover,
	&:active,
	&:visited {
    color: rgba($black, 0.7);
  }
}

.brand:hover,
.brand:active,
.brand:visited,
.bio:hover,
.bio:active,
.bio:visited {
  border: 0;
}

.navbar {
	border: none;
}

.navbar li {
	display: inline;
	padding-right: 20px;
}

.footer{
	z-index: 50;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
	color: $white;
  background-color: rgba($black, 0.6);
  line-height: 1.5;

  .container {
    padding-top: 20px;

    a {
			color: $white;
			padding-top: 3px;
      padding-right: 5px;
    }
  }

}

.bio-text {
	width: 396px;
  position:absolute;
	top: 100px;
  right: 0;
	z-index: 60;
	padding: 30px;
	background-color: $white;
	border-left: 3px solid $red;

}

.my-btn {
  @include myButton;
}

#avatar {
  width: 40%;
}

.get-in-touch {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.3em;
	padding-top: 20px;
}

.get-in-touch a:hover,
.get-in-touch a:focus {
	cursor:pointer;
	color: $red;
	border: 0;
}

.projects,
.playground {
	text-transform: uppercase;
	position: relative;
	top: 20px;
}

.hide {
	opacity: 0;
}

// PROJECT MENU
#projects {
		display: none;
}
#projectMenu {
	z-index: 20;
	position: absolute;
	left:70px;
	max-width: 60px;
	min-height: 400px;
	background-color: rgba($black, 0.1);
	border-radius: 4px;
}

#projectMenu .fa-times {
	font-size: 1.6em;
	padding: 10px;
	color: rgba($white, 0.7);
}

// PROJECTS
#projectContainer {
	z-index: 1;
	margin-top: 5em;

}

.projects-view {
	z-index: 10;
	position: absolute;
	top: 0;
}

.project-title {
	text-transform: none;
	color:$border-gray;
	margin: 2em 0;
}

.project-details {
	margin: 0 30px;
	padding-top: 10px;
	border-top: 1px solid $border-gray;
	border-bottom: 1px solid $border-gray;
}

.project-details li {
	padding-right: 10px;
}

strong {
	color: $black;
	font-size: 16px;
}

.project-description {
	line-height: 2;
	font-size: 15px;
	padding: 20px 60px;
	text-align: left;
}

.project-technology {
	margin: 2em 0;
}

.technologies li {
	padding: 10px;
	border-radius: 4px;
	background-color: rgba($border-gray, 0.4);
}

.project-outcome {
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 4em;
}

.project-outcome ul li {
	text-transform: none;
	padding: 5px 10px;
	@include myButton;
	color: $white;

	&:hover,
	&:active,
	&:visited {
		color: $black;
	}
}

.project-link {
	color: $white;
}

.project-link:hover {
	border: none;

}

.design-box,
.dev-box {
	background-color: rgba($border-gray, 0.2);
	height: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}
